In [5]:
from Models.Mods import Mods
import pickle as pkl

In [6]:
model = Mods()

In [7]:
import pandas as pd

In [8]:
with open(r"finaldf_2.pkl", "rb") as input_file:
    data = pkl.load(input_file)

In [9]:
data["url"]="*********************"
data["name"]="*********************"

In [10]:
model.fit(data=data)

C:\Users\Brahim\Desktop\Upload\Models\Mods.py:83: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.data[s][i] = self.data["skills"][i][1][self.data["skills"][i][0].index(s)]

In [11]:
model.raw_data.head()

,url,skills,name,location,certifications,nbre_languages,honors,organizations,nbre_projet,Tenure
0,*********************,"[[HTML, Java, PHP, MySQL, JavaScript, SQL, CSS...",*********************,Tunisie,0,3,0,0,5,0.33
1,*********************,"[[Java, MySQL, AngularJS, JavaScript, HTML, SQ...",*********************,Tunisie,0,1,0,0,4,0.32
2,*********************,"[[CSS, HTML, jQuery, JavaScript, HTML, MySQL, ...",*********************,"Nabeul Governorate, Tunisia",0,3,0,0,0,0.52
3,*********************,"[[AngularJS], [1], [0]]",*********************,"Gouvernorat de Sousse, Tunisia",0,3,0,0,0,0.54
4,*********************,"[[Java, JavaScript, JEE, jQuery, SQL, PHP, Ang...",*********************,"Gouvernorat de l’Ariana, Tunisia",0,3,0,0,4,0.38

In [12]:
model.extract_profile(model.backend,["honors","Tenure"])

In [13]:
model.d_backend.head()  #.iloc[3916 ]

,honors,Tenure,Reactjs,jQuery,Hapi.js,AngularJS,NoSQL,Node.js,Express.js,SQL,Koa.js,Nginx,JavaScript
0,0,0.33,0,1,0,1,0,0,0,1,0,0,1
1,0,0.32,0,0,0,1,0,0,0,1,0,0,1
2,0,0.52,0,1,0,2,0,0,0,0,0,0,1
3,0,0.54,0,0,0,1,0,0,0,0,0,0,0
4,0,0.38,0,1,0,1,0,0,0,1,0,0,1

In [14]:
model.d_backend.iloc[ 775]

honors        0.00
Tenure        0.19
Reactjs       2.00
jQuery        1.00
Hapi.js       0.00
AngularJS     0.00
NoSQL         2.00
Node.js       0.00
Express.js    1.00
SQL           1.00
Koa.js        0.00
Nginx         2.00
JavaScript    1.00
Name: 775, dtype: float64

In [15]:
model.k_best(model.backend,8,colz=["honors","Tenure"])

Scores :  [5.19500722 5.22265258 5.26178677 5.26911757 5.30071693 5.32939959
 5.4167241  5.44283015]
Indexes : [ 228  775  181 3424 4429 7316 7406 3570]

In [16]:
model.idx

array([[ 228,  775,  181, 3424, 4429, 7316, 7406, 3570]], dtype=int64)

In [17]:
model.get_profile(7406)

self.l_backend  :  7.0
self.l_frontend  :  5.0
self.l_embarque  :  1.0
self.l_tech_jee  :  1.0
self.l_fullstack  :  5.0
self.l_jee  :  2.0
self.l_symfony  :  2.0
self.l_drupal  :  4.0
self.l_product_owner  :  1.0

In [18]:
ss = model.get_profile_clean(7406)

In [19]:
import numpy as np
l = []
for i in ss.keys():
    i = i[7:]
    l.append(i)
l = np.array(l)
ll = []
for i in ss.keys():
    ll.append(ss[i])
d = {'Profile':l,'Score':ll}
df = pd.DataFrame(data=d).sort_values(by=["Score"],ascending=False)
df

         Profile  Score
0        backend    7.0
1       frontend    5.0
4      fullstack    5.0
7         drupal    4.0
5            jee    2.0
6        symfony    2.0
2       embarque    1.0
3       tech_jee    1.0
8  product_owner    1.0

In [20]:
model.data.iloc[6656]["skills"]

[['JavaScript',
  'HTML',
  'PHP',
  'HTML',
  'AngularJS',
  'CSS',
  'jQuery',
  'SQL',
  'Linux',
  'C++',
  'C',
  'SASS',
  'MongoDB',
  'Reactjs'],
 [1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 2, 1, 1, 2],
 [0, 0, 0, 0, 32, 0, 0, 32, 0, 0, 32, 0, 0, 32]]

In [21]:
model.data.iloc[6656]["skills"][1]

[1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 2, 1, 1, 2]

In [22]:
%timeit model.extract_profile(model.backend)

8.47 ms ± 394 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [23]:
model.d_backend.head()

,Reactjs,jQuery,Hapi.js,AngularJS,NoSQL,Node.js,Express.js,SQL,Koa.js,Nginx,JavaScript
0,0,1,0,1,0,0,0,1,0,0,1
1,0,0,0,1,0,0,0,1,0,0,1
2,0,1,0,2,0,0,0,0,0,0,1
3,0,0,0,1,0,0,0,0,0,0,0
4,0,1,0,1,0,0,0,1,0,0,1

In [24]:
model.d_backend.columns

Index(['Reactjs', 'jQuery', 'Hapi.js', 'AngularJS', 'NoSQL', 'Node.js',
       'Express.js', 'SQL', 'Koa.js', 'Nginx', 'JavaScript'],
      dtype='object')

In [25]:
model.idx

array([[ 228,  775,  181, 3424, 4429, 7316, 7406, 3570]], dtype=int64)

In [26]:
model.frontend

['self.l_frontend', 'self.d_frontend']

In [27]:
model.extract_profile(model.frontend)

In [28]:
model.d_frontend

      Reactjs  Webpack  JavaScript  CSS  SASS  HTML  Gitlab  REST
0           0        0           1    1     0     1       0     0
1           0        0           1    0     0     1       0     0
2           0        0           1    1     2     1       0     0
3           0        0           0    0     0     0       0     0
4           0        0           1    1     0     1       0     0
...       ...      ...         ...  ...   ...   ...     ...   ...
7437        0        0           1    0     0     0       0     0
7438        0        0           0    0     0     0       0     0
7439        0        0           0    1     0     1       0     0
7440        0        0           1    0     0     1       0     0
7441        0        0           0    0     0     0       0     0

[7442 rows x 8 columns]

In [29]:
model.k_best(model.frontend,k=8)

Scores :  [3.60555128 3.74165739 3.87298335 3.87298335 4.         4.
 4.         4.        ]
Indexes : [6580 5488 2089 5592 5009 6656 4429 2606]

# Temps d'exécution

In [30]:
timeit model.k_best(model.backend,k=8)

Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
Scores :  [4.47213595 4.47213595 4.58257569 4.69041576 4.79583152 4.79583152
 4.79583152 4.79583152]
Indexes : [ 775 3424 4429 6132 7406 3570 3835  181]
92.8 ms ± 3.72 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [31]:
timeit model.k_best(model.frontend,k=5,colz=["honors","Tenure"])

Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
Scores :  [4.26850091 4.38748219 4.46453805 4.5033432  4.58127711]
Indexes : [2606 6580 5488  736  228]
84.1 ms ± 4.47 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [32]:
model.show()

,Reactjs,jQuery,Hapi.js,AngularJS,NoSQL,Node.js,Express.js,SQL,Koa.js,Nginx,JavaScript
2606,2,0,0,1,0,0,1,0,0,0,1
6580,2,0,0,0,0,0,0,0,0,0,1
5488,1,1,0,1,0,0,0,1,0,0,1
736,1,0,0,1,0,0,0,1,0,0,1
228,2,1,0,1,0,0,1,1,0,0,2

In [33]:
model.show_raw()

,url,skills,name,location,certifications,nbre_languages,honors,organizations,nbre_projet,Tenure
2606,*********************,"[[Reactjs, JavaScript, C++, C, Express.js, Mon...",*********************,"Hammam Sousse, Gouvernorat de Sousse, Tunisia",0,4,2,1,12,0.51
6580,*********************,"[[SASS, JavaScript, Reactjs, CSS, HTML, MySQL,...",*********************,"Sfax Médina, Sfax Governorate, Tunisia",0,0,0,0,0,0.50
5488,*********************,"[[Reactjs, JavaScript, MySQL, AngularJS, JavaS...",*********************,"Tunis Governorate, Tunisia",0,3,0,0,0,0.61
736,*********************,"[[JavaScript, CSS, PHP, HTML, HTML, C++, Java,...",*********************,"Ben Arous Governorate, Tunisia",0,3,1,1,5,0.49
228,*********************,"[[PHP, JavaScript, CSS, MySQL, HTML, Reactjs, ...",*********************,"Sousse Governorate, Tunisia",0,4,1,0,0,0.59

In [34]:
model.data.iloc[6656]["skills"]

[['JavaScript',
  'HTML',
  'PHP',
  'HTML',
  'AngularJS',
  'CSS',
  'jQuery',
  'SQL',
  'Linux',
  'C++',
  'C',
  'SASS',
  'MongoDB',
  'Reactjs'],
 [1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 2, 1, 1, 2],
 [0, 0, 0, 0, 32, 0, 0, 32, 0, 0, 32, 0, 0, 32]]

In [35]:
ccw=model.get_profile(7406)

self.l_backend  :  7.0
self.l_frontend  :  5.0
self.l_embarque  :  1.0
self.l_tech_jee  :  1.0
self.l_fullstack  :  5.0
self.l_jee  :  2.0
self.l_symfony  :  2.0
self.l_drupal  :  4.0
self.l_product_owner  :  1.0

In [36]:
model.data.iloc[7406]["Node.js"]

0

In [37]:
tab = model.raw_data.iloc[model.idx[0], :].drop(
            columns=["skills", "location", "certifications", "nbre_languages", "honors", "organizations", "nbre_projet", "Tenure"])
tab["Rang"]=0
s=0
for i in model.idx[0]:
    s+=1
    tab.at[i,"Rang"]=s

In [38]:
tab

                        url                   name  Rang
2606  *********************  *********************     1
6580  *********************  *********************     2
5488  *********************  *********************     3
736   *********************  *********************     4
228   *********************  *********************     5

In [39]:
model.show_raw()

,url,skills,name,location,certifications,nbre_languages,honors,organizations,nbre_projet,Tenure
2606,*********************,"[[Reactjs, JavaScript, C++, C, Express.js, Mon...",*********************,"Hammam Sousse, Gouvernorat de Sousse, Tunisia",0,4,2,1,12,0.51
6580,*********************,"[[SASS, JavaScript, Reactjs, CSS, HTML, MySQL,...",*********************,"Sfax Médina, Sfax Governorate, Tunisia",0,0,0,0,0,0.50
5488,*********************,"[[Reactjs, JavaScript, MySQL, AngularJS, JavaS...",*********************,"Tunis Governorate, Tunisia",0,3,0,0,0,0.61
736,*********************,"[[JavaScript, CSS, PHP, HTML, HTML, C++, Java,...",*********************,"Ben Arous Governorate, Tunisia",0,3,1,1,5,0.49
228,*********************,"[[PHP, JavaScript, CSS, MySQL, HTML, Reactjs, ...",*********************,"Sousse Governorate, Tunisia",0,4,1,0,0,0.59