__Personnal Info__:

- Name 
- Location +/-
____________________________

In [26]:
import pandas as pd
df = pd.read_pickle("dummy.pkl")
df = df.drop(columns=["scraped_time"])
df = df.drop(columns=["interests"])
df = df.drop(columns=["search"])

In [27]:
json_array= []
for i in range(len(df)):
    json_array.append(df["personal_info"][i])

In [28]:
store_list = []
for item in json_array:
    store_details = {"name":None,"location":None}
    store_details['name'] = item['name']
    store_details['location'] = item['location']
    store_list.append(store_details)

In [29]:
dtv=pd.DataFrame(store_list,index=None)

In [30]:
df=df.drop(columns="personal_info")

In [31]:
df = pd.concat([df, dtv], axis=1, sort=False)

In [34]:
df["url"] = "*****************"

In [35]:
df["name"] = "*****************"

In [36]:
df

,url,skills,experiences,accomplishments,name,location
0,*****************,"[{'name': 'AutoCAD', 'endorsements': '5'}, {'n...","{'jobs': [{'title': 'Architecte Principal', 'c...","{'publications': [], 'certifications': [], 'pa...",*****************,"Tozeur Governorate, Tunisia"
1,*****************,"[{'name': 'Microsoft Office', 'endorsements': ...","{'jobs': [{'title': 'Founder and CEO', 'compan...","{'publications': [], 'certifications': [], 'pa...",*****************,Tunisie
2,*****************,"[{'name': 'Microsoft Office', 'endorsements': ...","{'jobs': [{'title': 'Projet de fin d’études', ...","{'publications': [], 'certifications': [], 'pa...",*****************,"El Omrane Supérieur, Tunis Governorate, Tunisia"
3,*****************,"[{'name': 'Java', 'endorsements': '6'}, {'name...","{'jobs': [{'title': 'Technical Lead', 'company...","{'publications': [], 'certifications': [], 'pa...",*****************,Tunisie
4,*****************,"[{'name': 'R', 'endorsements': '7'}, {'name': ...",{'jobs': [{'title': 'PhD. Degree on Statistics...,{'publications': ['Comparative Performance Ana...,*****************,Tunisie
...,...,...,...,...,...,...
9995,*****************,"[{'name': 'Python', 'endorsements': '37'}, {'n...",{'jobs': [{'title': 'Développeur Python/Devops...,"{'publications': [], 'certifications': [], 'pa...",*****************,"Paris Area, France"
9996,*****************,"[{'name': 'Management', 'endorsements': '1'}, ...",{'jobs': [{'title': 'Responsable Financement d...,"{'publications': [], 'certifications': [], 'pa...",*****************,Tunisia
9997,*****************,"[{'name': 'Java Enterprise Edition', 'endorsem...","{'jobs': [{'title': 'SAP Software Engineer', '...","{'publications': [], 'certifications': [], 'pa...",*****************,"Gouvernorat de Bizerte, Tunisia"
9998,*****************,[],"{'jobs': [{'title': 'Médecin', 'company': 'Cna...","{'publications': [], 'certifications': [], 'pa...",*****************,"Bizerte Nord, Bizerte Governorate, Tunisia"
9999,*****************,"[{'name': 'Java', 'endorsements': '9'}, {'name...","{'jobs': [{'title': 'Chef de projet', 'date_ra...","{'publications': [], 'certifications': [], 'pa...",*****************,"Gouvernorat de l’Ariana, Tunisia"